---
import GreetingMessages from '../components/GreetingMessages/GreetingMessages.astro';
import {BaseLayout} from '../layouts/BaseLayout/BaseLayout';
---

<BaseLayout title="Welcome to Astro.">
	<main>
		<GreetingMessages />
	</main>
</BaseLayout>
