---
import {Card} from "../Card/Card";
import {ColorfulButton} from "../ColorfulButton/ColorfulButton";
---

<Card title="Hi, how are you?">
    As we discussed on our phone call, we decided to go.
    Thank you for your help.

    <div>
        <ColorfulButton client:load>
            <span slot="label">Read More</span>
        </ColorfulButton>
    </div>
</Card>
